  body {
    font-family: "Fira Sans", serif;
  }


*{
    margin: 0px;
}
/* share style */
.dark-1{
   color: #0E0E0E;
}
.dark-1-50{
    color: rgba(14, 14, 14, 0.5);
}
.dark-1-70{
    color: rgba(14, 14, 14, 0.7);
}
.dark-1-80{
    color: rgba(14, 14, 14, 0.8);
}
.dark-1-60{
    color: rgba(14, 14, 14, 0.6);
}

.color-primary{
    color: #006A50;
}
.back-color{
    color: #C6E4D6;
}
.color-white{
    color: #ffffff;
}
.last-back-color{
    color: #F5F5F5;
}

.all-body{
    background-color: #F5F5F5;
}
nav{
    height: 100px;
    display: flex;
    justify-content: space-between;
    margin: 31px 160px;
   
}
.nav-title{
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 32px;   
}
.signin{
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: normal;
    font-size: 18px;
    background-color: white;
    border-radius: 8px;
    border-color: #006A50;
    padding: 15px 30px;
    width: 120px;
    height: 52px;
}

.hero-section{
   background-color: #C6E4D6;
   margin: 0px 160px 80px 160px;
   padding: 80px 60px;
   border-radius: 24px;

}
.banner-head{
    display: flex;
    justify-content: space-between;
}
.sub-head{
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 24px;
}
.headline{
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 56px;
    max-width: 622px;
    margin: 16px 0px 24px 0px;
}
.hero-cta{
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: normal;
    font-size: 18px;
    background-color: #006A50;
    border-radius: 8px;
    border: none;
    padding: 17px 34px;
    width: 270px;
    height: 56px;

}
.section-2{
    margin: 0 160px;
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 40px;
}
/* start section-2 */
.innovation{
    padding: 24px;
    background-color: #ffffff;
    width: 302px;
    height: 244px;
    border-radius: 16px;
    border: rgba(14, 14, 14, 0.15);
    border-style: solid;
    border-width: .5px;
    
}
.icon-sec2{
    height: 64px;
    width: 64px;
}
.card-head{
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
    margin-top: 24px;
}
.card-p{
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px; 
    margin-top: 12px; 
    line-height: 32px;
}
.sec2-card{
    margin: 32px 160px;
    display: flex;
    justify-content: space-between;
}
.section-3{
    margin: 80px 160px 0px 160px;
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 40px;
}
/* start section-3 */
.sec-3-p{
    margin: 24px 160px 32px 160px;
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 24px; 
}
.sec3-card{
    margin: 32px 160px;
    display: flex;
    justify-content: space-between;
}
.icon-sec3{
    height: 64px;
    width: 64px;
}
.Digital-Transformation{
    padding: 32px;
    background-color: rgba(84, 144, 245, 0.2);
    width: 410px;
    height: 325px;
    border-radius: 16px;
    
}
.Green-Energy{
    padding: 32px;
    background-color: rgba(198, 228, 214, 1);
    width: 410px;
    height: 325px;
    border-radius: 16px;
 
}
.Modern-Infrastructure{
    padding: 32px;
    background-color: rgba(247, 235, 207, 1);
    width: 410px;
    height: 325px;
    border-radius: 16px;
     
}
.green-cta{
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
    background-color: rgba(9, 161, 92, 1);
    border-radius: 8px;
    border: none;
    padding: 11px 20px;
    width: 122px;
    height: 41px;
    margin-top: 64px;
}
.modern-cta{
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
    background-color: rgba(255, 194, 57, 1);
    border-radius: 8px;
    border: none;
    padding: 11px 20px;
    width: 122px;
    height: 41px;
    margin-top: 64px;
}
.digital-cta{
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
    background-color: rgba(84, 144, 245, 1);
    border-radius: 8px;
    border: none;
    padding: 11px 20px;
    width: 122px;
    height: 41px;
    margin-top: 64px;
}

.quotes-p{
    padding: 48px 24px;
    background-color: #ffffff;
    width: 1430px;
    height: 256px;
    border-radius: 16px;
    border: rgba(14, 14, 14, 0.15);
    border-style: solid;
    border-width: .5px;
    margin: 0px 160px 80px 160px;
    background-image: url("../assets/quote-bg.png");
    background-repeat: no-repeat;
}
.quotes-description{
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px; 
    line-height: 36px;
    margin-top: 4px;  
}
.dr-yunus{
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: normal;
    margin-top: 24px;
    font-size: 24px;   
}

/* Your Opinion Matters */

.Your-Opinion-Matters{
    margin: 0px 160px 24px 160px;
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 40px;

}
.matters-background{
    padding: 32px;
    background-color: #ffffff;
    width: 1430px;
    height: 409px;
    border-radius: 16px;
    margin: 0px 160px 80px 160px;
    
}


  
  .opinion-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 16px;
    font-weight: 400;

  }
  
  .opinion-table thead {
    background-color: #C6E4D6;
  }
  
  .opinion-table th, .opinion-table td {
    border: 1px solid rgba(14, 14, 14, 0.15);
    text-align: left;
    padding: 31px;
  }
  
  .opinion-table th {
    font-weight: 600;
    font-size: 24;
  }
  
  .opinion-table td select {
    padding: 12px 16px;
    font-size: 16px;
    width: 100%;
    font-weight: 500;
  }
  .agree-button{
    background-color: #C6E4D6;
    width: 152px;
    height: 44px;
    border-radius: 4px;
    border-color: #0E0E0E;
    
  }
  .news-background{
    padding: 48px;
    background-color: #ffffff;
    width: 1430px;
    height: 402px;
    border-radius: 24px;
    margin: 0px 160px 24px 160px;
    
}
  


/* start news section */
.full-news{
    display: flex;

}
.image{
    height: 400px;
    margin-right: 32px;
    border-radius: 24px;

}
.Read-More{
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: normal;
    font-size: 18px;
    background-color: #006A50;
    border-radius: 8px;
    border: none;
    padding: 13px 26px;
    width: 139px;
    height: 48px;
    margin-top: 64px;  
}
.news-head{
    font-weight: 700;
    font-style: normal;
    font-size: 32px;
}
.al-jazeera{
    width: 134px;
    height: 40px;
    margin: 12px 0px;
}
.date-time{
    font-weight: 400;
    font-style: normal;
    font-size: 16px;  
}
.news-description{
    font-weight: 400;
    font-style: normal;
    font-size: 23px;
    margin-top: 12px;
    line-height: 32px;
}
.image1{
    height: 400px;
    margin-left: 32px;
    border-radius: 24px;
}
.section-6{
    margin: 80px 160px 0px 160px;
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 40px;
    text-align: center;
}
/* start section-3 */
.sec-6-p{
    margin: 24px 160px 32px 160px;
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center; 
}